<html>

<head>

</head>
<body>
<h1>Facebook and Twitter Content Prepopulater</h1>
<h3>Want to prepopulate a Facebook post or a tweet so that you can share it one click? You're in the right place!</h3>

<form method="post" action="/">
  <input type="radio" name="socialnetwork" value="Twitter"/>Twitter<br/>
  <input type="radio" name="socialnetwork"value="Facebook" />Facebook<br />
  <textarea name="content" rows="4" cols="20"></textarea>
  <input type="submit" />
</form>
{% if content %}
<h2> Here is your prepopulated content!</h2>
<br>
{{content}}
{% endif %}
</body>

